In [3]:
import numpy as np
import pandas as pd
from scipy import stats

In [5]:
df = pd.read_csv("BuyerRatio.csv")
df = df.iloc[:,1:]
df

   East  West  North  South
0    50   142    131     70
1   435  1523   1356    750

In [6]:
#Chi Squared test
#H0 = Proportion of male and female is equal in north, south, east and west.
#H1 = Proportion of male and female is unequal in north, south, east and west.

chisquare_results = stats.chi2_contingency(df)
chisquare_results

(1.595945538661058,
 0.6603094907091882,
 3,
 array([[  42.76531299,  146.81287862,  131.11756787,   72.30424052],
        [ 442.23468701, 1518.18712138, 1355.88243213,  747.69575948]]))

In [7]:
chi_square = Chi_square = [['Test Statistic', 'p-value'], [chisquare_results[0], chisquare_results[1]]]
chi_square

[['Test Statistic', 'p-value'], [1.595945538661058, 0.6603094907091882]]

In this null hypothesis is true as p value is greater than 0.5.