In [7]:
import numpy as np
import pandas as pd
from scipy import stats

In [8]:
df = pd.read_csv("CustomerOrderform.csv")
df

    Phillippines   Indonesia       Malta       India
0     Error Free  Error Free   Defective  Error Free
1     Error Free  Error Free  Error Free   Defective
2     Error Free   Defective   Defective  Error Free
3     Error Free  Error Free  Error Free  Error Free
4     Error Free  Error Free   Defective  Error Free
..           ...         ...         ...         ...
310          NaN         NaN         NaN         NaN
311          NaN         NaN         NaN         NaN
312          NaN         NaN         NaN         NaN
313          NaN         NaN         NaN         NaN
314          NaN         NaN         NaN         NaN

[315 rows x 4 columns]

In [9]:
#Chi squared hypothesis testing
#H0 = Proportion of error free to defective parts is the same in all countries.
#H1 = Proportions of error free to defective parts is different in all countries.

df["Phillippines"].value_counts()

Error Free    271
Defective      29
Name: Phillippines, dtype: int64

In [10]:
df["Indonesia"].value_counts()

Error Free    267
Defective      33
Name: Indonesia, dtype: int64

In [11]:
df["Malta"].value_counts()

Error Free    269
Defective      31
Name: Malta, dtype: int64

In [12]:
df["India"].value_counts()

Error Free    280
Defective      20
Name: India, dtype: int64

In [16]:
#contingency table

ctable = pd.DataFrame([[271, 267, 269, 280], [29, 33, 31, 20]])
ctable

     0    1    2    3
0  271  267  269  280
1   29   33   31   20

In [17]:
#chisquare result
chisquare_results = stats.chi2_contingency(ctable)
chisquare_results

(3.858960685820355,
 0.2771020991233135,
 3,
 array([[271.75, 271.75, 271.75, 271.75],
        [ 28.25,  28.25,  28.25,  28.25]]))

In [19]:
chisquare = [['Test Statistic', 'p-value'], [chisquare_results[0], chisquare_results[1]]]
chisquare

[['Test Statistic', 'p-value'], [3.858960685820355, 0.2771020991233135]]

in this null hypothiesis is accepted because of p value greater than 0.5.