In [32]:
import pandas as pd
import scipy
from scipy import stats

In [33]:
df=pd.read_csv('/lab_tat_updated.csv')

In [34]:
df.head()

   Laboratory_1  Laboratory_2  Laboratory_3  Laboratory_4
0        185.35        165.53        176.70        166.13
1        170.49        185.91        198.45        160.79
2        192.77        194.92        201.23        185.18
3        177.33        183.00        199.61        176.42
4        193.41        169.57        204.63        152.60

In [35]:
df.fillna(0,inplace=True)

In [36]:
# Normality Test
# p-value >.05 null hypothesis will be considered
# p-value <= .05 alternate hypothesis will be considered
#H0:normal
stats.shapiro(df.Laboratory_1) # Shapiro Test

ShapiroResult(statistic=0.9886691570281982, pvalue=0.42317795753479004)

In [41]:
stats.shapiro(df.Laboratory_2)# Shapiro Test

ShapiroResult(statistic=0.9936322569847107, pvalue=0.8637524843215942)

In [42]:
stats.shapiro(df.Laboratory_3)# Shapiro Test

ShapiroResult(statistic=0.9796067476272583, pvalue=0.06547004729509354)

In [43]:
stats.shapiro(df.Laboratory_4)# Shapiro Test

ShapiroResult(statistic=0.9913753271102905, pvalue=0.6618951559066772)

In [44]:
#variance test
scipy.stats.levene(df.Laboratory_1,df.Laboratory_2,df.Laboratory_3,df.Laboratory_4)

LeveneResult(statistic=1.025294593220823, pvalue=0.38107781677304564)

In [46]:
# One - Way Anova
stats.f_oneway(df.Laboratory_1,df.Laboratory_2,df.Laboratory_3,df.Laboratory_4)

# p value  # P High Null Fly
# All the 3 suppliers have equal mean transaction time

F_onewayResult(statistic=121.39264646442368, pvalue=2.143740909435053e-58)

In [ ]:
# it is alternate hypothesis because it is smaller than 0.05