In [1]:
######## Example -1##############
# import required modules
import pandas as pd
import numpy as np

# create dataset
df = pd.DataFrame({'Temperature': ['Hot', 'Cold', 'Warm', 'Cold'],
				})

# display dataset
print(df)

  Temperature
0         Hot
1        Cold
2        Warm
3        Cold

In [2]:
# create dymmy variables
pd.get_dummies(df)

   Temperature_Cold  Temperature_Hot  Temperature_Warm
0                 0                1                 0
1                 1                0                 0
2                 0                0                 1
3                 1                0                 0

In [4]:
############Example-2############
# import required modules
import pandas as pd
import numpy as np

# create dataset
s = pd.Series(list('abca'))

# display dataset
print(s)

# create dymmy variables
pd.get_dummies(s)

0    a
1    b
2    c
3    a
dtype: object

   a  b  c
0  1  0  0
1  0  1  0
2  0  0  1
3  1  0  0

In [4]:
# import required modules
import pandas as pd
import numpy as np

# create dataset
df = pd.DataFrame({'A': ['Alberto', 'vasanthi', 'Asalah'],
				'B': ['vasanthi', 'Alberto', 'Alberto'],
				'C': [1, 2, 3]})

# display dataset
print(df)

# create dymmy variables
pd.get_dummies(df)

          A         B  C
0   Alberto  vasanthi  1
1  vasanthi   Alberto  2
2    Asalah   Alberto  3

   C  A_Alberto  A_Asalah  A_vasanthi  B_Alberto  B_vasanthi
0  1          1         0           0          0           1
1  2          0         0           1          1           0
2  3          0         1           0          1           0

In [10]:
# Import libraries
import numpy as np
import pandas as pd

# Import dataset
df = pd.read_csv('D:\\upendra\\Data Science Training\\Iris.csv')
df.head()

df['Species'].unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [9]:
# Import label encoder
from sklearn import preprocessing

# label_encoder object knows how to understand word labels.
label_encoder = preprocessing.LabelEncoder()

# Encode labels in column 'species'.
df['Species']= label_encoder.fit_transform(df['Species'])

df['Species'].unique()
# Program for demonstration of one hot encoding

array([0, 1, 2], dtype=int64)

In [4]:
df['Species']

0         Iris-setosa
1         Iris-setosa
2         Iris-setosa
3         Iris-setosa
4         Iris-setosa
            ...
145    Iris-virginica
146    Iris-virginica
147    Iris-virginica
148    Iris-virginica
149    Iris-virginica
Name: Species, Length: 150, dtype: object

## Examples of Normalization and standardization

In [14]:

# example of a normalization
from numpy import asarray
from sklearn.preprocessing import MinMaxScaler
# define data
data = asarray([[100, 0.001],
				[8, 0.05],
				[50, 0.005],
				[88, 0.07],
				[4, 0.1]])
#print(data)
# define min max scaler
scaler = MinMaxScaler() # means you are doing normalization
# transform data
scaled = scaler.fit_transform(data)
print(scaled)
print(scaled.min())
print(scaled.max())

[[1.         0.        ]
 [0.04166667 0.49494949]
 [0.47916667 0.04040404]
 [0.875      0.6969697 ]
 [0.         1.        ]]
0.0
1.0

In [22]:
# example of a standardization
from numpy import asarray
from sklearn.preprocessing import StandardScaler
# define data
data = asarray([[100, 0.001],
				[8, 0.05],
				[50, 0.005],
				[88, 0.07],
				[4, 0.1]])
#print(data)
# define standard scaler
scaler = StandardScaler()
# transform data
scaled = scaler.fit_transform(data)
                          
print(scaled)

[[ 1.26398112 -1.16389967]
 [-1.06174414  0.12639634]
 [ 0.         -1.05856939]
 [ 0.96062565  0.65304778]
 [-1.16286263  1.44302493]]

In [23]:
from sklearn import preprocessing
import numpy as np
x_array = np.array([2,3,5,6,7,4,8,7,6])
normalized_arr = preprocessing.normalize([x_array])
print(normalized_arr)
normalized_arr.min()

[[0.11785113 0.1767767  0.29462783 0.35355339 0.41247896 0.23570226
  0.47140452 0.41247896 0.35355339]]

0.11785113019775793

In [12]:
import pandas as pd
car = pd.read_csv("D:\\upendra\\Data Science Training\\mtcars.csv")

In [13]:
from sklearn import preprocessing
normalized_arr = preprocessing.normalize([x_array])
print(normalized_arr)

[[0.11785113 0.1767767  0.29462783 0.35355339 0.41247896 0.23570226
  0.47140452 0.41247896 0.35355339]]

In [14]:

# Normalize the data attributes for the Iris dataset.
from sklearn.datasets import load_iris
from sklearn import preprocessing
# load the iris dataset
iris = load_iris()
print(iris.data.shape)
# separate the data from the target attributes
X = iris.data
y = iris.target
# normalize the data attributes
normalized_X = preprocessing.normalize(X)

(150, 4)

In [15]:
# Standardize the data attributes for the Iris dataset.
from sklearn.datasets import load_iris
from sklearn import preprocessing
# load the Iris dataset
iris = load_iris()
print(iris.data.shape)
# separate the data and target attributes
X = iris.data
y = iris.target
# standardize the data attributes
standardized_X = preprocessing.scale(X)

(150, 4)